# General
.DS_Store
Thumbs.db
*.log
*.local

# VS Code
.vscode/*
!.vscode/extensions.json
.idea/
.vs/

# Node / frontend 
**/node_modules/
**/dist/
**/dist-ssr/
**/.env
**/.env.*
**/.vite/

# .NET / backend
**/bin/
**/obj/
**/*.user
**/*.suo
**/*.cache
**/*.pdb
**/*.nupkg

# SQLite DB files
**/*.db
**/*.db-shm
**/*.db-wal